<!--Hero Section-->
<section class="py-xl-8 py-6" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('assets/img/abt-1.jpg'); background-size: cover; background-position: center;">
    <div class="container py-xl-6">
        <div class="row align-items-center gy-6 gy-xl-0">
            <div class="col-lg-6 col-xxl-6 col-12">
                <div class="d-flex flex-column gap-5 text-center text-lg-start">
                    <div class="d-flex flex-column gap-3">
                        <div class="text-center text-lg-start">
                            <span class="text-dark-green fw-semibold bg-mint text-uppercase d-inline-block px-3 py-1 rounded-1 mb-0">
                                New Energy For Our System
                            </span>
                        </div> 
                        <h1 class="mb-0 display-2 fw-bolder text-white">Power Your Home & Business Without Fuel Stress</h1>
                        <p class="mb-0 text-white">We provide professional solar installation services for homes, offices, schools, churches,
                            hospitals and commercial facilities with dependable solar energy solutions designed for Nigeria’s
                            unique energy challenges.</p>
                    </div>
                    <div class="d-flex gap-2 justify-content-center justify-content-lg-start flex-nowrap">
                    
                        <!-- Button 1 -->
                        <a href="" routerLink="/about"
                            class="btn btn-success bg-dark-green rounded-5 d-inline-flex align-items-center gap-2 py-2 px-3 text-nowrap">
                            <span>Get Free Consultation</span>
                            <i class="bi bi-arrow-up-right-circle-fill fs-3"></i>
                        </a>
                    
                        <!-- Button 2 -->
                        <a href="" routerLink="/about"
                            class="btn btn-light bg-light rounded-5 d-inline-flex align-items-center gap-2 py-2 px-3 text-nowrap">
                            <span>Calculate Cost</span>
                        </a>
                    
                    </div>
                    <div class="row gx-3 justify-content-center justify-content-lg-start rounded-3 border border-light " style=" background: transparent; backdrop-filter: blur(2px);">
                        <div class="col-4">
                            <div class="text-center py-4">
                                <div class="fs-2 fw-bold text-white">500+</div>
                                <div class="text-white">Installations</div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="text-center py-4">
                                <div class="fs-2 fw-bold text-white">5 Years</div>
                                <div class="text-white">Warranty</div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="text-center py-4">
                                <div class="fs-2 fw-bold text-white">24/7</div>
                                <div class="text-white">Support</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!--Hero Section-->