<section class="company-scroll-section">
  <div class="scroll-heading">
    <h2>Trusted by leading companies</h2>
    <p>Our partners and clients rely on Crestline Energy for dependable solutions.</p>
  </div>

  <div class="company-scroll-wrapper">
    <div class="company-scroll-track">
      <!-- MTN -->
<div class="company-logo">
  <img src="https://cdn.worldvectorlogo.com/logos/mtn-new-logo.svg" alt="MTN">
</div>

<!-- Airtel -->
<div class="company-logo">
  <img src="https://cdn.worldvectorlogo.com/logos/bharti-airtel-limited.svg" alt="Airtel">
</div>

<!-- Globacom -->
<div class="company-logo">
  <img src="https://cdn.worldvectorlogo.com/logos/glovo.svg" alt="Glovo">
</div>

<!-- 9mobile -->
<div class="company-logo">
  <img src="https://cdn.worldvectorlogo.com/logos/danone-2024-.svg" alt="Danonoe">
</div>

<!-- Dangote -->
<div class="company-logo">
  <img src="https://cdn.worldvectorlogo.com/logos/piggyvest.svg" alt="piggyvest">
</div>

<!-- UBA -->
<div class="company-logo">
  <img src="https://cdn.worldvectorlogo.com/logos/zenith.svg" alt="zenith">
</div>

<!-- Flutterwave -->
<div class="company-logo">
  <img src="https://cdn.worldvectorlogo.com/logos/flutterwave-2.svg" alt="Flutterwave">
</div>

<!-- Paystack -->
<div class="company-logo">
  <img src="https://cdn.worldvectorlogo.com/logos/paystack-2.svg" alt="Paystack">
</div>
   </div>
  </div>
</section>

